header {
	position: fixed;
	padding-top: 20;
	width: 100%;
	overflow: hidden;
}

#nav_logo {
	display: inline;
	margin: 0;
}

#logo_text {
	text-decoration: none;
	color: black;
}

#nav_links {
	display: inline-block;
	list-style: none;
	padding: 0 0 0 20px;
	height: 40px;
}

ul#nav_links > li {
	/* display each nav link horizontally */
	display: inline;
	padding-right: 5px;
}

#nav_form {
	display: inline-block;
	position: relative;
	right: 5px;
	float: right;
	margin-top: 16px;
}

#container {
	position: relative;
	top: 149px;
	text-align: center;
	width: 100%;
}

footer {
	text-align: center;
	width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

#footer_text {
	font: red;
}
