<table id='url_table'>
	<tr>
		<th>Long Url</th>
		<th>Short Url</th>
		<th>Counter</th>
	</tr>

	<% if @urls %>
		<% @urls.each do |url| %>
			<tr>
				<td>
					<a href="<%= url.long_url %>">
						<%= url.long_url %>
					</a>
				</td>
				<td>
					<a href="/<%= url.short_url %>">
						<%= url.short_url %>
					</a>
				</td>
				<td>
					<p>
						<%= url.counter %>
					</p>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>