<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script type='text/javascript' src='js/application.js'></script>
		<title>Shortly</title>
	</head>
	<body>
			<header>
				<h1 id="nav_logo">
					<a id ="logo_text" href="/">Shortly</a>
				</h1>
				<ul id="nav_links">
					<li><a href="/about">About</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="/table">Table Of Links</a></li>
					<li><a href="#">Sign Up</a></li>
				</ul>
				<form id="nav_form" action="/urls" method="post">
				    <input type="text" name="long_url" placeholder="Enter your URL here">
				    <input type="submit" value="Short!">
				</form>
			</header>
			<div id="container">
				<%= yield %>
			</div>
			<footer>
				<p id='footer_text'>made with &#60;3</p>
			</footer>
		</div>
	</body>
</html>